.idea
build
node_modules
module/worker/src/gql/generated/gql-lexer.js
module/worker/src/gql/generated/gql-listener.js
module/worker/src/gql/generated/gql-parser.js
module/worker/src/pgs/generated/pgs-lexer.js
module/worker/src/pgs/generated/pgs-listener.js
module/worker/src/pgs/generated/pgs-parser.js
