.button-group {
  margin: 0.5rem 0;
}

.button-group:after {
  content: "";
  clear: both;
  display: table;
}

.button-group button {
  float: left;
}

.button-group button:not(:last-child) {
  border-right: none;
}

.button-group button:first-child {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.button-group button:last-child {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
