.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(133, 133, 133, 0.3);
  border-radius: 0.25rem;
  color: #696969;
  font-weight: 500;
  text-decoration: none;
  background-color: rgba(217, 217, 217, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 2em;
  outline: none;
  -webkit-appearance: none;
  font-size: 14px;
  height: 1.875rem;
}

.button:hover {
  background-color: rgba(217, 217, 217, 0.30);
}

.button:focus {
  outline: none;
  border: 1px solid rgba(133, 133, 133, 0.5);
}

.buttonContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
}

.buttonContentWrapper .buttonLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 0.1rem;
  transition: 1s;
}

.buttonContentWrapper .buttonIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.15rem;
  transition: 1s;
}

@media only screen and (max-width: 500px) {
  .buttonContentWrapper .buttonLabelWrapper {
    display: none;
  }
}
