.line-number-cell {
  position: relative;
  width: 1%;
  min-width: 50px;
  padding: 0 10px 0 0;
  font-family: jetbrains-mono,monospace;
  font-size: 12px;
  line-height: 20px;
  color: #a1a1a1;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.code-line {
  padding: 0;
  font-family: 'jetbrains-mono', monospace !important;
}

.code-line-error {
  background-color: var(--code-line-error-bg-color);
}
