.error-list-element {
  color: var(--error-list-element-color);
  border: 1px solid var(--error-list-element-border-color);
  background-color: var(--error-list-element-bg-color);
  padding: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

.error-list-element:hover {
  background-color: var(--error-list-element-bg-color-hover);
}

.error-position-label {
  font-size: 11px;
  font-weight: bold;
}

.error-message {
  font-size: 14px;
}
