.error-list-element {
  color: darkred;
  border: 1px solid #aa330033;
  background-color: #aa330011;
  padding: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

.error-list-element:hover {
  background-color: #aa330022;
}
