.example-code {
  position: relative;
  font-family: 'jetbrains-mono', monospace;
  font-size: 0.75rem !important;
  margin: 0;
  background-color: var(--example-code-bg-color);
  opacity: 0.75;
  border-top: 1px solid var(--example-code-border-color);
  border-bottom: 1px solid var(--example-code-border-color);
  white-space: pre-wrap;
}
