.parse-state-label {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--parse-state-label-color);
}

.parse-state-label-success {
  color: var(--parse-state-label-success-color);
}

.parse-state-label-error {
  color: var(--parse-state-label-error-color);
}

.parsing-label {
  margin-left: 0.4rem;
}

.no-errors-label {
  margin-left: 0.4rem;
}

.found-errors-label {
  margin-left: 0.4rem;
}
