.sidebar-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 2rem;
}

.sidebar-menu-item:hover {
  background-color: #ced4da11;
}

.sidebar-menu-item-selected {
  background-color: #ced4da55;
}

.sidebar-menu-item-selected:hover {
  background-color: #ced4da88;
}

.sidebar-menu-item-label {
  margin-left: 1rem;
}

@media screen and (max-width: 520px) {
  .sidebar-menu-item {
    padding: 0.75rem 0;
    justify-content: center;
  }

  .sidebar-menu-item-label {
    display: none;
  }
}
