.token {
  font-family: jetbrains-mono, monospace;
}

.keyword {
  color: #990055;
  font-weight: bold;
}

.punctuation {
  color: #000000;
  font-weight: bold;
}

.comment {
  color: #2bda00;
}

.string {
  color: #007cc2;
}

.boolean {
  color: #ff720e;
}

.number {
  color: #00703b;
}

.custom1 {
  color: #0000ff;
}

.custom2 {
  color: #0000bb;
}

.custom3 {
  color: #c100ff;
}

.custom4 {
  color: #9400c4;
}
