.token {
  font-family: jetbrains-mono, monospace;
}

.keyword {
  color: var(--higlight-keyword-color);
  font-weight: bold;
}

.punctuation {
  color: var(--higlight-punctuation-color);
  font-weight: bold;
}

.comment {
  color: var(--higlight-comment-color);
}

.string {
  color: var(--higlight-string-color);
}

.boolean {
  color: var(--higlight-boolean-color);
}

.number {
  color: var(--higlight-number-color);
}

.custom1 {
  color: var(--higlight-custom1-color);
}

.custom2 {
  color: var(--higlight-custom2-color);
}

.custom3 {
  color: var(--higlight-custom3-color);
}

.custom4 {
  color: var(--higlight-custom4-color);
}
