.autocompleteModal {
  position: absolute;
  width: 200px;
  background: #f3f3f3;
  border: solid 1px #c0c0c0;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 1px;
  /*-webkit-box-shadow: 0 0 2px 0 rgba(122, 122, 122, 0.7);*/
  /*-moz-box-shadow: 0 0 2px 0 rgba(122, 122, 122, 0.7);*/
  /*box-shadow: 0 0 2px 0 rgba(122, 122, 122, 0.7);*/
  box-sizing: border-box;
}

.autocompleteModalList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.autocompleteModalElement {
  padding-left: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  transition: 0.25s;
  border: solid 1px transparent;
  margin-bottom: 2px;
  font-family: 'jetbrains-mono', monospace;
  font-size: 12px;
}

.autocompleteModalElement:last-child {
  margin-bottom: 0;
}

.autocompleteModalSelectedElement {
  background: #007cc2;
  color: #ced4da;
  border-color: #005381;
}
