.code-editor-grid {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: auto;
  transition: 0.5s;
}

.editor-column {
  flex: 1;
  padding-top: 0.5rem;
  transition: 0.5s;
}

.editor-column .editor-header {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.editor-tooltip {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.editor-tooltip-separator {
  flex: 1;
}

.editor-wrapper {
  border: 1px solid var(--editor-wrapper-border-color);
  overflow-y: scroll;
  position: relative;
  height: 500px;
}

.editor {
  font-family: 'jetbrains-mono', monospace;
  counter-reset: line;
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
  min-height: 500px;
}

.code-area {
  outline: none;
  padding-left: 60px !important;
  min-height: 500px;
}

.editor pre {
  min-height: 500px;
}

.examples-column {
  transition: 0.5s;
}

@media (min-width: 1000px) {
  .code-editor-grid {
    flex-direction: column;
  }

  .editor-column {
    flex: 1;
  }

  .examples-column {
    width: 30% !important;
  }
}

@media (min-width: 840px) {
  .code-editor-grid {
    flex-direction: row;
  }

  .editor-column {
    flex: 1;
  }

  .examples-column {
    width: 45%;
    padding-left: 0.5rem;
  }
}
