.examples-wrapper {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.examples-wrapper .examples-header {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.examples-wrapper .examples-search {
  padding: 0 1rem;
  line-height: 2em;
  width: calc(100% - 2rem - 2px);
  color: #696969;
  background-color: rgba(217, 217, 217, 0.15);
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(133, 133, 133, 0.3);
  border-radius: 0.25rem;
  margin-bottom: 0.05rem;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  font-size: 14px;
  height: 1.775rem;
}

.examples-list {
  list-style: none;
  flex: 1;
  margin: 0.25rem 0 0 0;
  padding: 0;
  overflow-y: unset;
}

@media (min-width: 840px) {
  .examples-wrapper {
    height: 690px;
  }

  .examples-list {
    overflow-y: scroll;
    padding-right: 0.25rem;
  }
}

.table {
  border-spacing: 0;
}

.line-number-cell {
  position: relative;
  width: 1%;
  min-width: 50px;
  padding: 0 10px 0 0;
  font-family: jetbrains-mono,monospace;
  font-size: 12px;
  line-height: 20px;
  color: #a1a1a1;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.code-line {
  padding: 0;
  font-family: 'jetbrains-mono', monospace !important;
}

.highlight-background {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.highlight-line-number-background {
  width: 55px;
  height: 100%;
  border-right: 1px solid #e3e9ef;
  background-color: #efefef;
}

.highlight-line-background {
  flex: 1;
  height: 100%;
}

.token {
  font-family: jetbrains-mono, monospace;
}

.token-symbol {
  color: black;
  font-weight: bold;
}

.token-literal {
  color: #990055;
  font-weight: bold;
}

.example {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 0.025rem solid #ced4da;
  margin: 0.25rem 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.example .example-header {
  background-color: #fff;
  color: #383838;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
}

.examples-loading-wrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
