.examples-search {
  padding: 0.25rem 1rem;
  line-height: 2em;
  width: calc(100% - 2rem - 2px);
  color: var(--examples-search-color);
  background-color: var(--examples-search-bg-color);
  background-image: none;
  background-clip: padding-box;
  border: 1px solid var(--examples-search-border-color);
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  font-size: 14px;
  height: 1.775rem;
}
