@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0.5rem;
}

.app {
  margin: auto;
}

#result {
  display: block;
  padding: 0.5rem;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
