@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0.5rem;
  background: var(--bg-color);
}

.app {
  margin: auto;
}

#result {
  display: block;
  padding: 0.5rem;
}

:root {
  --bg-color: #fff;
  --select-border: #777777;
  --select-focus: #0000ff;
  --select-arrow: var(--select-border);
  --autocomplete-modal-bg-color: #f3f3f3;
  --autocomplete-modal-border-color: #c0c0c0;
  --autocomplete-modal-selected-element-bg: #007cc2;
  --autocomplete-modal-selected-element-color: #ced4da;
  --autocomplete-modal-selected-element-border-color: var(--select-focus);
  --button-border-color: #8585854c;
  --button-color: #696969;
  --button-bg-color: #d9d9d926;
  --button-bg-color-hover: #d9d9d94c;
  --button-bg-color-focus: #d9d9d940;
  --caret-data-wrapper-color: #484848;
  --higlight-border-color: #e3e9ef;
  --higlight-line-number-bg-color: #efefef88;
  --higlight-bg-color: #efefef88;
  --line-number-cell: #a1a1a1;
  --code-line-error-bg-color: #ff000022;
  --error-list-element-color: #8b0000;
  --error-list-element-border-color: #aa330033;
  --error-list-element-bg-color: #aa330011;
  --error-list-element-bg-color-hover: #aa330022;
  --error-list-border-color: #ced4da;
  --error-list-bg-color: #a1a1a110;
  --example-code-bg-color: #ffffff;
  --example-code-border-color: #e3e9ef;
  --sidebar-border-color: #696969;
  --sidebar-color: #ffffff;
  --sidebar-menu-item-bg-color-hover: #ced4da11;
  --sidebar-menu-item-selected-bg-color: #ced4da55;
  --sidebar-menu-item-selected-bg-color-hover: #ced4da88;
  --version-element-label-color: #dddddd;
  --version-element-version-color: #eeeeee;
  --editor-wrapper-border-color: #ced4da;
  --editor-wrapper-color: #000000;
  --examples-search-color: #696969;
  --examples-search-bg-color: #d9d9d926;
  --examples-search-border-color: #8585854c;
  --examples-line-numbre-cell-color: #a1a1a1;
  --examples-highlight-line-number-background-border-color: #e3e9ef;
  --examples-highlight-line-number-background-bg-color: #efefef;
  --examples-token-symbol-color: #000000;
  --examples-token-literal-color: #990055;
  --examples-example-border-color: #ced4da;
  --examples-example-header-bg-color: #ffffff;
  --examples-example-header-color: #383838;
  --grammar-select-wrapper-bg-color: #9a9a9aa6;
  --grammar-select-color: #d5d5d5;
  --grammar-select-border-color: #8585854c;
  --grammar-select-option-color: #ffffff;
  --grammar-select-option-bg-color: #ced4da;
  --grammar-select-option-bg-color-hover: #ababab1a;
  --parse-tree-border-color: #ced4da;
  --status-bar-border-color: #ced4da;
  --status-bar-bg-color: #a1a1a140;
  --view-select-option-border-color: #8585854c;
  --view-select-option-bg-color: #d9d9d926;
  --view-select-option-bg-color-hover: #d9d9d94c;
  --view-select-option-color: #696969;
  --view-select-selected-option-bg-color: #c8c8c8;
  --view-select-selected-option-bg-color-hover: #ababab8c;
  --view-select-selected-option-color: #414141;
  --higlight-keyword-color: #990055;
  --higlight-punctuation-color: #000000;
  --higlight-comment-color: #2bda00;
  --higlight-string-color: #007cc2;
  --higlight-boolean-color: #ff720e;
  --higlight-number-color: #00703b;
  --higlight-custom1-color: #0000ff;
  --higlight-custom2-color: #0000bb;
  --higlight-custom3-color: #c100ff;
  --higlight-custom4-color: #9400c4;
  --parse-state-label-color: #484848;
  --parse-state-label-success-color: #004D10;
  --parse-state-label-error-color: #9b1c00;
}

:root[data-theme='dark'] {
  --bg-color: #181818;
  --select-border: #aaaaaa;
  --select-focus: #4a90e2;
  --select-arrow: var(--select-border);
  --autocomplete-modal-bg-color: #333333;
  --autocomplete-modal-border-color: #444444;
  --autocomplete-modal-selected-element-bg: #005381;
  --autocomplete-modal-selected-element-color: #ffffff;
  --autocomplete-modal-selected-element-border-color: var(--select-focus);
  --button-border-color: #ffffff4c;
  --button-color: #dddddd;
  --button-bg-color: #4a4a4a26;
  --button-bg-color-hover: #4a4a4a4c;
  --button-bg-color-focus: #4a4a4a40;
  --caret-data-wrapper-color: #cccccc;
  --higlight-border-color: #555555;
  --higlight-line-number-bg-color: #2b2b2b88;
  --higlight-bg-color: #5a5a5a88;
  --line-number-cell: #cccccc;
  --code-line-error-bg-color: #ff000022;
  --error-list-element-color: #ff9999;
  --error-list-element-border-color: #cc666633;
  --error-list-element-bg-color: #cc666611;
  --error-list-element-bg-color-hover: #cc666622;
  --error-list-border-color: var(--higlight-border-color);
  --error-list-bg-color: #4a4a4a10;
  --example-code-bg-color: #181818;
  --example-code-border-color: var(--higlight-border-color);
  --sidebar-border-color: #cccccc;
  --sidebar-color: var(--example-code-bg-color);
  --sidebar-menu-item-bg-color-hover: #33333311;
  --sidebar-menu-item-selected-bg-color: #33333355;
  --sidebar-menu-item-selected-bg-color-hover: #33333388;
  --version-element-label-color: #222222;
  --version-element-version-color: #333333;
  --editor-wrapper-border-color: var(--higlight-border-color);
  --editor-wrapper-color: #ffffffee;
  --examples-search-color: #dddddd;
  --examples-search-bg-color: #4a4a4a26;
  --examples-search-border-color: #ffffff4c;
  --examples-line-numbre-cell-color: #cccccc;
  --examples-highlight-line-number-background-border-color: var(--higlight-border-color);
  --examples-highlight-line-number-background-bg-color: #2b2b2b88;
  --examples-token-symbol-color: #ffffff;
  --examples-token-literal-color: #ff77aa;
  --examples-example-border-color: var(--higlight-border-color);
  --examples-example-header-bg-color: var(--sidebar-color);
  --examples-example-header-color: #dddddd;
  --grammar-select-wrapper-bg-color: #4a4a4aa6;
  --grammar-select-color: #eeeeee;
  --grammar-select-border-color: #ffffff4c;
  --grammar-select-option-color: var(--sidebar-color);
  --grammar-select-option-bg-color: #333333;
  --grammar-select-option-bg-color-hover: #5a5a5a1a;
  --parse-tree-border-color: var(--higlight-border-color);
  --status-bar-border-color: var(--higlight-border-color);
  --status-bar-bg-color: #4a4a4a40;
  --view-select-option-border-color: #ffffff4c;
  --view-select-option-bg-color: #4a4a4a26;
  --view-select-option-bg-color-hover: #4a4a4a4c;
  --view-select-option-color: #dddddd;
  --view-select-selected-option-bg-color: #7a7a7a;
  --view-select-selected-option-bg-color-hover: #5a5a5a8c;
  --view-select-selected-option-color: #eeeeee;
  --higlight-keyword-color: #ff77aa;
  --higlight-punctuation-color: #ffffff;
  --higlight-comment-color: #00ff00;
  --higlight-string-color: #4a90e2;
  --higlight-boolean-color: #ff9533;
  --higlight-number-color: #00b367;
  --higlight-custom1-color: #4a90e2;
  --higlight-custom2-color: #4a90e2bb;
  --higlight-custom3-color: #d457ff;
  --higlight-custom4-color: #b044ff;
  --parse-state-label-color: #c2c2c2;
  --parse-state-label-success-color: #00bd25;
  --parse-state-label-error-color: #de0000;
}
